<<<<<<< HEAD
html { 
  scroll-behavior: smooth;
}
body {
  overflow-y: auto;
  scroll-snap-stop: always;
   scroll-snap-align: start;
}
a {
  text-decoration: none;
  color: #000;
}
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
#header {
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  }
.header-nav ul {
  display: flex;
  justify-content: space-around;
}
.header-nav a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  line-height: 10vh;
} 
<<<<<<< HEAD
=======

>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
#nav {
  display: none;
}
#main-vis {
  background-image: url(../img/sea.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  margin-bottom: 7%;
  position: relative;
}
#main-vis p {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
}
#profile {
  background-color: rgb(220, 220, 220);
  color: white;
  padding-bottom: 8%;
<<<<<<< HEAD
  margin-bottom: 7%;
  width: 100%;
  padding-top: 5%;
  scroll-snap-stop: always;
=======
  margin-bottom: 10%;
  width: 100%;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
#profile h5 {
  font-size: 20px;
}
.profile-title {
  font-size: 80px;
  font-weight: 500;
<<<<<<< HEAD
  padding-left: 10%;
  font-family: "Times New Roman", Times, serif;
}
.about {
  position: relative;
  margin-top: 3%;
  margin-bottom: 5%;
   scroll-snap-type:y mandatory;
  scroll-snap-align: start;
}
.about-div {
  padding: 13%;
  background-color: khaki;
  margin-right: 40%;
  margin-left: 10%;
}
.profile-img img{
    position: absolute;
    width: 30%;
    z-index: 10;
    top: 0;
    left: 8%;
    display: block;
}
.about-inner {
=======
  margin: 20px 0;
  padding-top: 25px;
  padding-left: 10%;
  font-family: "Times New Roman", Times, serif;
}
.name {
  position: relative;
}
.name-div {
  padding: 13%;
  background-color: khaki;
  margin-right: 40%;
  margin-left: 10%;
}
.profile-img img{
    position: absolute;
    width: 30%;
    z-index: 10;
    top: 0;
    left: 8%;
    display: block;
}
.name-inner {
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  color: #000;
  position: absolute;
  top: 20%;
  left: 45%;
  background: #fff;
  width: 40%;
  padding: 5% 5%;
  box-sizing: border-box;
}
.hobby {
  position: relative;
<<<<<<< HEAD
 
   scroll-snap-type:y mandatory;
  scroll-snap-align: start;
}
.slide-img{
  position: absolute;
  width: 40%;
  z-index: 10;
  top: 19%;
  right: 3%;
=======
}
.slide-img{
  position: absolute;
  width: 30%;
  z-index: 10;
  top: 16%;
  right: 12%;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  display: block;
}
.hobby-img {
  padding: 15% 20%;
  margin-left: 50%;
  margin-top: 3%;
  background-color: yellow;
}
.hobby-div {
  padding: 10% 18%;
  background-color: goldenrod;
  margin: 0 30%;
  position: absolute;
  top: 8%;
  right: 30%;
}
.hobby-div_second {
  padding: 10% 18%;
  background-color: palegoldenrod;
  margin: 0 30%;
  position: absolute;
  top: 15%;
  right: 28%;
}
.hobby-div-third{
  padding: 10% 18%;
  background-color: darkorange;
  margin: 0 30%;
  position: absolute;
  top: 23%;
  right: 26%;
}
.hobby-div-force {
  padding: 10% 18%;
  background-color:orange;
  margin: 0 30%;
  position: absolute;
  top: 31%;
  right: 24%;
}
.hobby-inner {
  color: #000;
  position: absolute;
<<<<<<< HEAD
  z-index: 20;
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  bottom: 16%;
  left: 15%;
  background: #fff;
  width: 40%;
  padding: 5% 5%;
  box-sizing: border-box;
}
.section-title {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
<<<<<<< HEAD
=======
  margin: 20px 0;
  padding-top: 20px;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  font-family: "Times New Roman", Times, serif;
}
#skill {
  background-color: rgb(220, 220, 220);
<<<<<<< HEAD
  margin-bottom: 7%;
  width: 100%;
  position: relative;
  padding-top: 5%;
  scroll-snap-type:y mandatory;
  scroll-snap-align: start;
=======
  margin-bottom: 10%;
  width: 100%;
  position: relative;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.skill-text {
  color: white;
  padding: 0 25%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 20px;
}
.skill-title {
  color: #fff;
}
.skill-wrap {
  margin: 0 auto;
  padding: 0 20%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
<<<<<<< HEAD
  
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.skill-div {
  background-color: beige;
  padding: 30% 43%;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1;
}
.skill-div_second {
  position: absolute;
  right: 0;
  bottom: 3%;
  background-color: ivory;
  padding: 22% 43%;
  z-index: 10;
}
.skill-div_third {
    position: absolute;
    left: 10%;
    top: 2%;
    background-color:ivory ;
    padding: 20% 40%;
}
/* .skill-div_force {
    position: absolute;
    padding: 18% 25%;
    background-color:wheat ;
    bottom: 6%;
    left: 3%;
} */
.skill-list {
  width: 35%;
  border: 1px solid #000;
  margin-bottom: 10%;
  background-color: #fff;
  z-index: 50;
}
.skill-img { 
  width: 50%;
  display: flex;
}
.skill-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.inner {
  padding: 20%;
}
.inner p {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}
.inner h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.first {
  margin-left: 10%;
}
.force {
  margin-right: 10%;
}
#works {
  background-color: rgb(220, 220, 220);
  color: #fff;
<<<<<<< HEAD
  margin-bottom: 7%;
  padding:8% 5%;
  position: relative;
  z-index: 50;
  scroll-snap-type:y mandatory;
  scroll-snap-align: start;
=======
  margin-bottom: 10%;
  padding: 5%;
  position: relative;
  z-index: 50;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.work-title {
  text-align: left;
  padding: 0;
}
.work-text {
  margin-bottom: 5%;
  font-size: 20px;
}
.work-wrap {
    display: flex;
    justify-content: space-around;
}
.work-cat {
  width: 28%;
  padding: 20px 35px 30px;
  box-sizing: border-box;
  margin-bottom: 50px;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
<<<<<<< HEAD
  border-radius:0 .25rem;
}
.work-cat p {
  text-align: center;
  margin-bottom: 2%;
=======
  border-radius: .25rem;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.work-div {
  position: absolute;
  padding: 13%;
  background-color: orange;
  bottom: 5%;
  left: 25%;
  z-index: -1;
}
.work-div_second {
  position: absolute;
  padding: 13%;
  background-color: orangered;
  top: 10%;
  right: 30%;
  z-index: -1;
<<<<<<< HEAD
}
.work-btn {
  border: none;
  padding: 5%;
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.card-title {
  text-align: center;
  font-size: 20px;
  padding: 3% 0;
  font-weight: bold;
}
#contact {
  background-color: rgb(220, 220, 220);
  padding-bottom: 2%;
  color: #fff;
<<<<<<< HEAD
  
}
.contact-text {
  font-size: 20px;
  text-align: center;
  width: 100%;
=======
  position: relative;
}
.contact-text {
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
  width: 100%;
  
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
form {
  text-align: center;
  margin-top: 2%;
}
<<<<<<< HEAD
.name  {
  margin-top: 3%;
  margin-bottom: 3%;
}
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
.input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 20%;
<<<<<<< HEAD
  outline: 0;
  box-sizing: border-box;
=======
  margin: 0 auto;
  outline: 0;
  margin-bottom: 3%;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
.msg {
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 50%;
  outline: 0;
<<<<<<< HEAD
  margin-top: 2%;
}
.btn {
  background-color: #000;
  color: #fff;
  margin: 3% 0;
  padding: 2% 5%;
  border:none;
}
.page-top {
  border: none;
  cursor: pointer;
  outline: none;
  /* margin: 0 auto; */
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; }
.page-top::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-bottom: -6px;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  transform: rotate(-45deg);
}
.page-top:hover {
  transform: scale(1.1);
=======
}

.btn {
  margin: 3% 0;
  padding: 2% 5%;
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
}
/* .contact-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10%;
}
.contact-div_second {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 10%;
} */
#footer {
  color: #fff;
  background-color: #000;
}
.footer-text {
    text-align: center;
}
.footer-nav ul {
  display: flex;
  justify-content: space-around;
}
.footer-nav li {
  list-style: none;
  margin: 1% 0;
}
.footer-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.footer-text {
  padding: 10px 0;
  background-color: rgb(220, 220, 220);
}
[data-aos].animated {
    visibility: visible;
}
@media screen and (max-width: 768px) {
#header {
  height: 0;
}
.header-nav {
  display: none;
}
#hamburger {
  top: 20px;
  left: 15px;
  width: 50px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s;
  display: block;
  }
.inner_line {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: 0.8s;
}
#line1 {
  top: 0;
}
#line2 {
  top: 10px;
}
#line3 {
  bottom: 20px;
}
#nav{
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  transition: .7s;
  display: block;
}
#nav ul{
  padding-top: 80px;
}
#nav ul li{
  list-style-type: none;
  font-size: 20px;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 20px;
  padding: 10px;
  transition: .5s;
}
#nav li a:hover{
  color: #ffffff;
  background:dodgerblue;
  border-bottom: none;
}.in{
  transform: translateX(100%);
}
.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  transform: rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: rotate(45deg);
  top: 0;
}
  #profile {
    padding: 5% 0;
  }
  .profile-img img {
    width: 90%;
    top: 10%;
    left: 0;
    padding: 0 5%;
}
<<<<<<< HEAD
  .about-inner {
=======
  .name-inner {
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
    position: inherit;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 5%;
  }
<<<<<<< HEAD
  .about-div {
=======
  .name-div {
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
    margin-left: 0;
    margin-right: 0;
    padding: 40%;
  }
  .hobby-inner {
    width: 80%;
    text-align: center;
    padding: 10%;
    bottom: 2%;
    left: 10%;
  }
  .hobby-img {
    margin-top: 7%;
  }
  .slide-img {
    position: inherit;
    width: 100%;
  }
  .hobby-div {
    top: 85%;
    right: 30%;
  }
  .hobby-div_second {
    top: 82%;
    right: 27%;
  }
  .hobby-div-third {
<<<<<<< HEAD
    display: none;
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
    top: 79%;
    right: 24%;
  }
  .hobby-div-force {
<<<<<<< HEAD
    display: none;
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
    top: 76%;
    right: 21%;
  }
  #skill {
<<<<<<< HEAD
    /* padding: 5%; */
=======
   
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
    position: relative;
  }
  .skill-text {
    padding: 5%;
  }
  .skill-wrap {
    padding: 5% 0;
    position: relative;
  }
  .skill-list {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .skill-div {
    padding: 80% 50%;
  }
  .skill-div_second {
    bottom: 30%;
    padding: 75% 50%;
<<<<<<< HEAD
=======
    
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  }
  .skill-div_third {
   top: 75%;
   left: 0;
   padding: 70% 50%;
}
  .skill-div_force {
      display: none;
    /* padding: 80% 50%;
    bottom: 10%; */
  }
  .inner {
    padding: 10%;
  }
  .work-wrap {
    display: block !important;
  }
  .work-cat {
    width: 100%;
  }
  .work-div {
    left: 0;
    bottom: 0;
    padding: 80% 40%;
  }
  .work-div_second {
    padding: 90% 40%;
    right: 0;
    top: 0;
  }
<<<<<<< HEAD
  label {
    display: flex;
    flex-direction: column;
  }
=======
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
  #contact {
    padding: 5%;
  }
  .input {
    width: 50%;
  }
<<<<<<< HEAD
  .page-top {
    right: 0;
    bottom: 87px;
  }
}
=======
}
>>>>>>> a65ace43676cca7c750563a4240f4c758be0092c
